
.vs/Logic Navigator/v15/.suo
.vs/Logic Navigator/v15/Server/sqlite3/storage.ide-shm
.vs/Logic Navigator/v15/Server/sqlite3/storage.ide-wal
.vs/Logic Navigator/v15/.suo
bin/Debug/Logic Navigator v0.0595.exe
bin/Debug/Logic Navigator v0.0595.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Logic Navigator v0.0595.exe
obj/Debug/Logic Navigator v0.0595.pdb
obj/Debug/Logic Navigator.csproj.CoreCompileInputs.cache
obj/Debug/Logic Navigator.csproj.FileListAbsolute.txt
obj/Debug/Logic Navigator.csproj.GenerateResource.cache
obj/Debug/Logic Navigator.csproj.ResolveComReference.cache
obj/Debug/Logic_Navigator.frmAbout.resources
obj/Debug/Logic_Navigator.frmMChild.resources
obj/Debug/Logic_Navigator.frmMChild_Card.resources
obj/Debug/Logic_Navigator.frmMChild_Choose.resources
obj/Debug/Logic_Navigator.frmMChild_ExclusionList.resources
obj/Debug/Logic_Navigator.frmMChild_Housings.resources
obj/Debug/Logic_Navigator.frmMChild_Latches.resources
obj/Debug/Logic_Navigator.frmMChild_Log.resources
obj/Debug/Logic_Navigator.frmMChild_Monitor.resources
obj/Debug/Logic_Navigator.frmMChild_Prefix.resources
obj/Debug/Logic_Navigator.frmMChild_Search.resources
obj/Debug/Logic_Navigator.frmMChild_SimInputs.resources
obj/Debug/Logic_Navigator.frmMChild_SimMap.resources
obj/Debug/Logic_Navigator.frmMChild_SimOutputs.resources
obj/Debug/Logic_Navigator.frmMChild_Versions.resources
obj/Debug/Logic_Navigator.frmMDIMain.resources
obj/Debug/Logic_Navigator.frmSChild.resources
obj/Debug/Logic_Navigator.frmSplash.resources
obj/Debug/Logic_Navigator.frmWeb.resources
obj/Debug/Logic_Navigator.objfrmComms.resources
obj/Debug/Logic_Navigator.Properties.Resources.resources
